<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>房源管理系统后台</title>
    @*<link href="~/OpenSource/bootstrap-3.3.7/bootstrap-3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">*@
    <link href="~/Content/bootstrap-3.3.7/css/bootstrap.css" rel="stylesheet">
    <link href="~/Content/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="~/Content/bootstrapvalidator/css/bootstrapValidator.css" rel="stylesheet" />
    <link href="~/Content/LayoutAdmin.css" rel="stylesheet">
    <link href="~/Content/fontawesome/css/fontawesome.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-fileup/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />
    <link href="~/Content/toastr/toastr.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker/bootstrap-datepicker3.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-switch/css/bootstrap-switch.css" rel="stylesheet" type="text/css" />
    <script src="~/Content/JQuery/jquery-3.4.0.min.js" type="text/javascript"></script>
    <script src="~/Content/bootstrap-fileup/js/fileinput.js" type="text/javascript"></script>
    <script src="~/Content/bootstrap-3.3.7/js/bootstrap.js" type="text/javascript"></script>
    <script src="~/Content/toastr/toastr.min.js" type="text/javascript"></script>
    <script src="~/Content/bootstrapvalidator/js/bootstrapValidator.js" type="text/javascript"></script>
    <script src="~/Content/bootstrap-fileup/js/locales/zh.js" type="text/javascript"></script>
    <script src="~/Content/prompt.js" type="text/javascript"></script>
    <script src="~/Content/bootbox/bootbox.min.js" type="text/javascript"></script>
    <script src="~/Content/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
    <script src="~/Content/bootstrap-select/js/i18n/defaults-zh_CN.js" type="text/javascript"></script>
    <script src="~/Content/bootstrap-switch/js/bootstrap-switch.js" type="text/javascript"></script>
    <script src="~/Content/bootstrap-treeview.js" type="text/javascript"></script>
    <script src="~/Content/strtohtml.js" type="text/javascript"></script>

    <script>
        function relogin() {
            bootbox.confirm({
                title: '',
                message: "确定重新登录？",
                buttons: {
                    confirm: { label: "确定" },
                    cancel: { label: "取消" }
                },
                callback: function (result) {
                    if (result) {
                        window.location.href = "/Login/Login";
                    } else {
                        return;
                    }
                },
            });
        }

        function pageclose() {
            bootbox.confirm({
                title: '',
                message: "确定关闭页面？",
                buttons: {
                    confirm: { label: "确定" },
                    cancel: { label: "取消" }
                },
                callback: function (result) {
                    if (result) {
                        window.close();
                    } else {
                        return;
                    }
                },
            });
        }
    </script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" id="control" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">房源管理系统后台</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right" id="showuser"></ul>

                <div class="panel-group" id="showphone" hidden="hidden">

                </div>

            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <div class="panel-group" id="accordion">

                </div>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                @RenderBody()
            </div>
        </div>
    </div>

    <div class="modal fade" id="pwmodify" tabindex="-1" role="dialog" aria-labelledby="myModalLabel11" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel11">
                        密码修改
                    </h4>
                </div>
                <form id="pwmodify_form" enctype="multipart/form-data" class="form-horizontal" action="/Admin_User/PwModify" method="post">
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-7">
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">输入原密码</label>
                                        <div class="col-lg-6 ">
                                            <input type="password" class="form-control" name="oldpassword" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">输入新密码</label>
                                        <div class="col-lg-6 ">
                                            <input type="password" class="form-control" name="newpassword" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">确认新密码</label>
                                        <div class="col-lg-6 ">
                                            <input type="password" class="form-control" name="conpassword" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-primary" id="btnpwmodify" value="保存" />
                        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <script>
        $('#pwmodify_form').bootstrapValidator({
            //        live: 'disabled',
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                 oldpassword: {
                    validators: {
                        notEmpty: {
                            message: '请输入旧密码'
                        }
                    }
                },
                newpassword: {
                    validators: {
                        notEmpty: {
                            message: '请输入新密码'
                        },
                        identical: {
                            field: 'conpassword',
                            message: '新密码与确认密码不一致'
                        }
                    }
                },
                conpassword: {
                    validators: {
                        notEmpty: {
                            message: '请输入确认密码'
                        },
                        identical: {
                            field: 'newpassword',
                            message: '新密码与确认密码不一致'
                        }
                    }
                },
            }
        });

        $("#btnpwmodify").click(function(){
        var formData = new FormData($("#pwmodify_form")[0]);
        $.ajax({
            type: "POST",
            url: "/Admin_User/PwModify",
            async: true,
            data: formData,
            ///提交表单不加会报错
            cache: false,
            contentType: false,
            processData: false,

            success: function (result) {
                if (result == "保存成功") {
                    toastr.success(result, '提示');
                    window.location.href = "@Url.Action("Index","Index")";
                }
                else {
                    toastr.warning(result, '提示');
                }
            },
            error: function () {
                toastr.error('异常', 'error');
            }
        })
    });
    </script>

    <script>
        $(function () {
            $.ajax({
                type: "POST",
                url: "/Login/Menulist",
                async: true,
                datatype: "text",
                data: {},
                success: function (result) {
                    $("#accordion").append(result);
                },
                error: function () {

                }
            })
        })

        $(function () {
            $.ajax({
                type: "POST",
                url: "/Login/MenuPlist",
                async: true,
                datatype: "text",
                data: {},
                success: function (result) {
                    $("#showphone").append(result);
                },
                error: function () {

                }
            })
        })

        $(function () {
            $.ajax({
                type: "POST",
                url: "/Login/baseinfo",
                async: true,
                datatype: "text",
                data: {},
                success: function (result) {
                    $("#showuser").append(result);
                },
                error: function () {

                }
            })
        })

        window.pageload = resizeBannerImage();

        window.onresize = resizeBannerImage;
        function resizeBannerImage() {
            var winW = $(window).width();
            if ($(window).width() > 768) {
                var a = $("#showuser").attr("hidden");
                var b = $("#showphone").attr("hidden");
                if (a != undefined) {
                    $("#showuser").removeAttr("hidden");
                }
                if (b == undefined) {
                    $("#showphone").attr("hidden", "hidden");
                }
            }
            else {
                var a = $("#showuser").attr("hidden");
                var b = $("#showphone").attr("hidden");
                if (a == undefined) {
                    $("#showuser").attr("hidden", "hidden");;
                }
                if (b != undefined) {
                    $("#showphone").removeAttr("hidden");
                }
            }
        }

    </script>

    <script>
        ///时钟显示
        var i = 0;
        function myDate() {
            var now = new Date();
            var year = now.getFullYear();
            var month = now.getMonth() + 1;
            var day = now.getDate();
            var hours = now.getHours();
            var minutes = now.getMinutes();
            var seconds = now.getSeconds();

            document.getElementById("clock").innerHTML = year + "年" + month + "月" + day + "日" + hours + "：" + minutes + "：" + seconds;
        }
        setInterval(myDate, 1000);
    </script>

    <script>
        $(function () {
            $(".nav.nav-sidebar").children("li").click(
                function () {
                    var a = $(this).hasClass("active");
                    var b = $(this).parent("ul").hasClass("navbar-collapse");
                    if ($(this).parent("ul").hasClass("navbar-collapse") && !$(this).hasClass("active")) {
                        $(this).siblings().removeClass();
                        $(this).toggleClass("active");
                    }
                    if (!a) {
                        $(this).siblings().removeClass();
                        $(this).toggleClass("active");
                    }
                    else {

                    }
                });
        });

        ///提示信息初始化
        $(function () {
            toastr.options = {
                positionClass: "toast-bottom-center",
                debug: false,
                closeButton: false,
                showDuration: "300",
                hideDuration: "1000",
                timeOut: "5000",
                extendedTimeOut: "1000",
                showEasing: "swing",
                hideEasing: "linear",
                showMethod: "fadeIn",
                hideMethod: "fadeOut"
            }
        })
    </script>

    <script>
        function relogin() {
            bootbox.confirm({
                title: '',
                message: "确定重新登录？",
                buttons: {
                    confirm: { label: "确定" },
                    cancel: { label: "取消" }
                },
                callback: function (result) {
                    if (result) {
                        window.location.href = "/Login/Login";
                    } else {
                        return;
                    }
                },
            });
        }

        function pageclose() {
            bootbox.confirm({
                title: '',
                message: "确定关闭页面？",
                buttons: {
                    confirm: { label: "确定" },
                    cancel: { label: "取消" }
                },
                callback: function (result) {
                    if (result) {
                        window.location.href="about:blank";
                        window.close();
                    } else {
                        return;
                    }
                },
            });
        }
    </script>
</body>
</html>
